* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* principais cores */
    --color-red:#E3646E;
    --color-purple:#bb72e9;
    --color-blue:#3996db;
    --color-green:#82bc4f;
    --color-yellow:#Eabd5f;
    /* cores básicas */
    --color-gray-100: #e2e4e9;
    --color-gray-200: #c0c4ce;
    --color-gray-300: #878ea1;
    --color-gray-400: #292c34;
    --color-gray-500: #16181d;
    --color-gray-600: #0d0e11;

    /* fontes */
    --font-family-title: "Asap", sans-serif; 
    --font-family-subtitle: "Inconsolata", monospace;
    --font-family-text: "Maven Pro", sans-serif;
    --title-lg: 700 56px/120% var(--font-family-title);
    --title-md: 700 24px/120% var(--font-family-title);
    --title-sm: 700 16px/120% var(--font-family-title);
    --subtitle: 400 20px/120% var(--font-family-subtitle);
    --text-md: 400 16px/140% var(--font-family-text);
    --text-sm: 400 14px/140% var(--font-family-text);

}

   h2 {
    font: var(--title-md);
    color: var(--color-gray-100);
   }

   h3 {
    font: var(--title-sm);
    color: var(--color-gray-100);
   }
   
   /* .container {
    height: 2934px;
   } */





    


