.subtitle_2 {
    text-align: center;
    color: var(--color-red);
    font: var(--subtitle);
}

.services {
    background-color: var(--color-gray-600);
    gap: 32px;
    justify-items: center;
    padding-top: 88px;
    padding-bottom: 120px;
}

.icons-services img {
    height: 60px;
    width: 60px;
}

.icons-services {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-gray-500);
    align-items: start;
    justify-content: center;
    width: 280px;
    height: 155px;
    padding-top:2px;
    padding-left: 15px;
    text-align: center;
    border-radius: 12px;
    
}

.services-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-items: center;
}

.services h3 {
    padding-bottom: 8px;
}

